{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="bg-white p-4 rounded shadow-sm">
                <h2 class="text-center">О нас</h2>
                <p class="mt-4">
                    Добро пожаловать на наш сайт аренды и кейтеринга кальянов! Мы – команда профессионалов, стремящихся сделать ваше событие незабываемым и особенным. 
                    Наша миссия – предоставить высококачественное обслуживание и создать атмосферу уюта и комфорта для всех наших клиентов.
                </p>
                <h4 class="mt-4">Почему выбирают нас?</h4>
                <ul>
                    <li>Высококачественное оборудование и широкий выбор кальянов.</li>
                    <li>Профессиональный и дружелюбный персонал.</li>
                    <li>Индивидуальный подход к каждому клиенту.</li>
                </ul>
                <p>
                    Мы гордимся нашим сервисом и стремимся превзойти ожидания наших клиентов. Независимо от того, планируете ли вы небольшой вечер дома или крупное мероприятие, мы здесь, чтобы помочь вам создать идеальную атмосферу.
                </p>
                <p>
                    Благодарим вас за то, что выбрали нас. Мы с нетерпением ждем возможности служить вам и сделать ваш опыт с нами максимально приятным.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
