{% extends 'base.html' %}

{% block content %}
    <div class="container-contact">
        <div class="contact-pad ml-2 mr-2">
            <div class="contact-contact">Контактная информация</div>
            <div class="d-flex justify-content-between">
                <div class="contact-information">
                    <p><strong>Адрес:</strong> <br> 125167, г. xxxxx, пр-кт Ленинградский, д.36, стр.36, оф.110</p>
                    <p><strong>Адрес пункта самовывоза:</strong><br> 105318, г. xxxxxx, Мироновская улица, 33, стр 16, заезд со стороны ул. Ибрагимова</p>
                    <p><strong>Телефон:</strong><br> +x(xxx)xxx-xx-xx</p>
                    <p><strong>E-mail:</strong></p>
                    <p>Отдел продаж: <a href="">xxxxxxxx</a></p>
                    <p>Техническая поддержка: <a href="">xxxxxxxxx</a></p>
                    <p><strong>Время работы:</strong><br> вс-чт: 13:00-01:00<br>пт-cб: 14:00-02:00</p>
                </div>
                <div class="contact-location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3277.0587626536644!2d32.444486086573626!3d34.779295954066924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1722543639965!5m2!1sru!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
