{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="table-responsive">
                <table class="table table-bordered bg-white">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="2" class="text-center">Доставка и Самовывоз</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold">Доставка</td>
                            <td>
                                Мы предлагаем удобную услугу доставки кальянов. Стоимость доставки составляет 5 евро. Пожалуйста, оформите заказ через наш сайт, и мы позаботимся о том, чтобы ваш заказ был доставлен в кратчайшие сроки.
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">Самовывоз</td>
                            <td>
                                Вы можете самостоятельно забрать ваш заказ из нашего пункта самовывоза. Адрес пункта самовывоза:
                                <br>
                                <strong>105318, г. xxxxxx, Мироновская улица, 33, стр 16, заезд со стороны ул. Ибрагимова</strong>
                                <br>
                                Время работы:
                                <ul>
                                    <li>Воскресенье-Четверг: 13:00-01:00</li>
                                    <li>Пятница-Суббота: 14:00-02:00</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
