{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Условия аренды и договор -->
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="bg-white p-4 rounded shadow-sm">
                <h2 class="text-center">Условия аренды и Пример договора</h2>
                <p class="mt-4">
                    При аренде кальянов наша компания стремится обеспечить наилучший сервис и удовлетворение всех потребностей наших клиентов. Ознакомьтесь с условиями аренды и примером договора:
                </p>
                <h4 class="mt-4">Основные условия аренды</h4>
                <ul>
                    <li>Паспорт или другой удостоверяющий личность документ необходим для оформления аренды.</li>
                    <li>Все кальяны проверяются перед выдачей, чтобы гарантировать их исправное состояние.</li>
                </ul>
                <h4 class="mt-4">Повреждение кальяна</h4>
                <p>
                    В случае повреждения кальяна арендатор обязуется возместить стоимость ремонта или замены оборудования. Подробности об условиях и размерах компенсации указаны в договоре аренды.
                </p>
                
                <h4 class="mt-4">Пример договора аренды</h4>
                <p><strong>1. Стороны договора:</strong></p>
                <p>
                    Арендодатель: ООО «КальянСервис»<br>
                    Арендатор: [Имя арендатора]
                </p>
                <p><strong>2. Предмет договора:</strong></p>
                <p>
                    Арендодатель передает, а Арендатор принимает во временное пользование кальян (далее «Оборудование») на условиях, предусмотренных настоящим договором.
                </p>
                <p><strong>3. Срок аренды:</strong></p>
                <p>
                    Срок аренды составляет [указать срок], начиная с [дата начала] и заканчивая [дата окончания].
                </p>
                <p><strong>4. Обязанности Арендатора:</strong></p>
                <ul>
                    <li>Содержать Оборудование в исправном состоянии.</li>
                    <li>Возвратить Оборудование в том же состоянии, в котором оно было получено, с учетом нормального износа.</li>
                </ul>
                <p><strong>5. Ответственность за повреждение:</strong></p>
                <p>
                    В случае повреждения Оборудования Арендатор обязан возместить стоимость ремонта или замены, как указано в пункте 4.2 настоящего договора.
                </p>
                <p><strong>6. Подписи сторон:</strong></p>
                <p>
                    Арендодатель: ____________________<br>
                    Арендатор: ______________________
                </p>
                <p class="mt-4">
                    Для получения полного текста договора и уточнения всех деталей, пожалуйста, свяжитесь с нашим менеджером.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
